# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [16]:
# Your code here:

display(data.shape)
data.head()

(32658, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:

data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [17]:
# Your code here:

data['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
# Your code here:

data['Department'].value_counts()

POLICE                   12973
FIRE                      4800
STREETS & SAN             2194
OEMC                      2044
WATER MGMNT               1878
AVIATION                  1612
TRANSPORTN                1103
GENERAL SERVICES           972
PUBLIC LIBRARY             932
FAMILY & SUPPORT           621
FINANCE                    575
HEALTH                     516
LAW                        405
CITY COUNCIL               400
BUILDINGS                  266
COMMUNITY DEVELOPMENT      214
BUSINESS AFFAIRS           168
BOARD OF ELECTION          112
DoIT                       101
PROCUREMENT                 86
MAYOR'S OFFICE              85
CITY CLERK                  85
CULTURAL AFFAIRS            76
ANIMAL CONTRL               73
HUMAN RESOURCES             68
INSPECTOR GEN               63
IPRA                        56
BUDGET & MGMT               44
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   24
HUMAN RELATIONS             17
COPA                        17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [30]:
# Your code here:
import scipy.stats
from scipy.stats import ttest_1samp

# stat, pval = ttest_1samp(data['Hourly Rate'], 30)

https://thispointer.com/pandas-select-rows-without-nan-values/

In [29]:
hourly_rates = data[~data['Hourly Rate'].isnull()]['Hourly Rate']
hourly_rates = hourly_rates.map(lambda x: x.lstrip('$')).astype('float64')
hourly_rates

11       14.51
54       19.66
56       46.10
57       35.60
60        2.65
         ...
32639    46.10
32643    17.50
32644    35.60
32650    46.35
32651    48.85
Name: Hourly Rate, Length: 7883, dtype: float64

In [33]:
stat, pval = ttest_1samp(hourly_rates, 30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   21.003532193332216
pvalue for the two-tailed test is  2.4048011351057683e-95

With a pvalue this low, I can affirm that the null hypothesis is not true.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [41]:
# Your code here:
 
year_salary = data[(~data['Annual Salary'].isnull()) & (data['Department'] == 'POLICE')]['Annual Salary']
year_salary = year_salary.map(lambda x: x.lstrip('$')).astype('float64')
year_salary

1        104628.0
4        111474.0
7        104628.0
8         96060.0
9         53076.0
           ...
32652     48078.0
32653     90024.0
32654     48078.0
32655     87006.0
32656     93354.0
Name: Annual Salary, Length: 12941, dtype: float64

In [42]:
stat2, pval2 = ttest_1samp(year_salary, 86000)
print('stat is  ', stat2)

print('pvalue for the one-tailed test is ', pval2/2)

stat is   12.573116980151957
pvalue for the one-tailed test is  2.4100985740030478e-36

And it would seem that the hypothesis is not true.

Using the `crosstab` function, find the department that has the most hourly workers.

In [44]:
# Your code here:

data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins = False)
data_crosstab

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      38
ANIMAL CONTRL              16      57
AVIATION                 1056     556
BOARD OF ELECTION           0     112
BOARD OF ETHICS             0       8
BUDGET & MGMT               1      43
BUILDINGS                   0     266
BUSINESS AFFAIRS            8     160
CITY CLERK                  3      82
CITY COUNCIL               52     348
COMMUNITY DEVELOPMENT       4     210
COPA                        0      17
CULTURAL AFFAIRS           10      66
DISABILITIES                0      29
DoIT                        0     101
FAMILY & SUPPORT          300     321
FINANCE                    43     532
FIRE                        2    4798
GENERAL SERVICES          767     205
HEALTH                      4     512
HUMAN RELATIONS             0      17
HUMAN RESOURCES             1      67
INSPECTOR GEN               0      63
IPRA                        0      56
LAW                        44     361
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              7      78
OEMC                     1212     832
POLICE                     32   12941
POLICE BOARD                0       2
PROCUREMENT                 4      82
PUBLIC LIBRARY            224     708
STREETS & SAN            1873     321
TRANSPORTN                707     396
TREASURER                   1      23
WATER MGMNT              1512     366

In [50]:
data_crosstab['Hourly'].sort_values(ascending=False).head(1)

Department
STREETS & SAN    1873
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [55]:
# Your code here:
hourly_rates2 = data[(~data['Hourly Rate'].isnull()) & (data['Department'] == 'STREETS & SAN')]['Hourly Rate']
hourly_rates2 = hourly_rates2.map(lambda x: x.lstrip('$')).astype('float64')

stat3, pval3 = ttest_1samp(hourly_rates2, 35)
print('stat is  ', stat3)

print('pvalue for the one-tailed test is ', pval3/2)

stat is   -7.172610090911691
pvalue for the one-tailed test is  5.276243152130208e-13

With this values I cannot reject the complain.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [12]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [13]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [14]:
# Your code here: